<!doctype html>
<html lang="en">
<head>
<body>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<a class="btn btn-primary" href="http://127.0.0.1:5000/" role="button">Search</a>
<a class="btn btn-primary" href="http://127.0.0.1:5000/update" role="button">Update</a>
<h1> Question does't exist in Database to update </h1>
</body>
</html>